@import 'blocks/header/header';
@import 'blocks/main/about';
@import 'blocks/main/steps';
@import 'blocks/main/hero';
@import 'blocks/main/projects';
@import 'blocks/main/testimonials';
@import 'blocks/main/form';
@import 'blocks/footer/footer';

// .container{
//     // max-width: 1920px;
//     margin: 0 auto;
// }

.main{
    width: 1395px;
    margin-left: 32px;
    margin-right: 32px;
    @media (max-width: 1024px) {
        width: 1376px;
    }
}
// @media (max-width: 1024px) {
//     .header {
//       width: 1141px;
//       height: 700px;
//     }
// }